.FormGroup___2ItNM {
    padding: 0;
    border-bottom: .01rem solid #e8e9eb
}

.FormGroup___2ItNM .FormGroup___27zin {
    display: inline-block;
    margin-right: .2rem;
    font-size: .32rem;
    line-height: .94rem;
    color: #616161
}

.FormGroup___2ItNM:last-child {
    border: none
}

.FormGroup___1SEJF {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.FormGroup___1SEJF label {
    color: #333;
    font-size: .28rem;
    display: inline-block;
    line-height: 3rem;
    margin-right: .2rem
}

.Input___9cgsf {
    background-color: #fff;
    position: relative;
    border-bottom: .01rem solid #ececec;
    height: 1.94rem;
    line-height: 2.84rem
}

.Input___1iYS0 {
    outline: 0;
    vertical-align: middle;
    text-indent: .2rem;
    border: none;
    color: #000;
    font-size: .28rem;
    width: 100%
}

.Input___2-UU6 {
    width: .32rem;
    height: .32rem;
    line-height: .32rem;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 50%;
    background-color: #ccc;
    text-align: center;
    position: absolute;
    right: .2rem;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%)
}

.Input___2-UU6:after {
    display: inline-block;
    color: #fff;
    font-size: .28rem;
    font-style: normal;
    font-family: Helvetica;
    position: relative;
    content: "\D7";
    width: 100%;
    top: 0
}

.Input___V3xS4 {
    font-size: .22rem;
    line-height: .24rem;
    position: absolute;
    left: 1rem;
    bottom: 0;
    color: red
}

.SVGIcon___3OygE {
    width: 1em;
    height: 1em;
    vertical-align: -.15em;
    fill: currentColor;
    overflow: hidden
}

.UserInfoSteps___2qQhM {
    position: relative;
    height: 1.46rem;
    background-color: #fff
}

.UserInfoSteps___2qQhM .UserInfoSteps___2oMK_,
.UserInfoSteps___2qQhM .UserInfoSteps___11GTn {
    position: absolute;
    width: 100%;
    top: 40%;
    padding: 0 .85rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.UserInfoSteps___2qQhM .UserInfoSteps___11GTn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.UserInfoSteps___2qQhM .UserInfoSteps___2oMK_ {
    z-index: 2;
    height: .3rem
}

.UserInfoSteps___2qQhM .UserInfoSteps___2oMK_ .UserInfoSteps___2hmUw {
    position: absolute;
    display: inline-block;
    width: .3rem;
    height: .3rem;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 100%
}

.UserInfoSteps___2qQhM .UserInfoSteps___2oMK_ .UserInfoSteps___2hmUw .UserInfoSteps___1iy0M {
    position: absolute;
    display: inline-block;
    top: .4rem;
    left: -.32rem;
    width: 1.1rem;
    font-size: .24rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #ccc
}

.UserInfoSteps___2qQhM .UserInfoSteps___2oMK_ .UserInfoSteps___2hmUw .UserInfoSteps___1iy0M.UserInfoSteps___2l2KO {
    color: #666
}

.UserInfoSteps___2qQhM .UserInfoSteps___2oMK_ .UserInfoSteps___2hmUw.UserInfoSteps___2l2KO {
    background-color: #ff5a10;
    border-color: #ff5a10
}

.UserInfoSteps___2qQhM .UserInfoSteps___2oMK_ .UserInfoSteps___2hmUw:first-child {
    left: .85rem
}

.UserInfoSteps___2qQhM .UserInfoSteps___2oMK_ .UserInfoSteps___2hmUw:nth-child(2) {
    left: 50%
}

.UserInfoSteps___2qQhM .UserInfoSteps___2oMK_ .UserInfoSteps___2hmUw:last-child {
    right: .85rem
}

.UserInfoSteps___2qQhM .UserInfoSteps___11GTn {
    height: 1px;
    z-index: 1
}

.UserInfoSteps___2qQhM .UserInfoSteps___11GTn .UserInfoSteps___3o9yC {
    height: 1px;
    background-color: #e6e6e6;
    width: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.UserInfoSteps___2qQhM .UserInfoSteps___11GTn .UserInfoSteps___3o9yC.UserInfoSteps___2l2KO {
    background-color: #ff5a10
}

.picker___39CqX {
    width: 100%;
    height: 1.94rem;
    line-height: 2  .94rem;
    padding-left: .2rem;
    font-size: .32rem;
    color: #333
}

.picker___39CqX .picker___2sNPZ {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #fff
}

.picker___39CqX .picker___2sNPZ ul li:last-child {
    color: #4a90e2
}

.picker___39CqX .picker___K9VCc {
    color: #000
}

.picker___39CqX .picker___8iNiB {
    width: 100%;
    text-align: center;
    border-bottom: .01rem solid #eee;
    color: #999;
    height: 1.9rem;
    line-height: 1.9rem;
    font-family: PingFangSC-Regular;
    font-size: .14rem;
    letter-spacing: 0
}

.Modal___1S-qo {
    display: block
}

.Modal___1gdzR {
    display: none
}

.Modal___1uYAl {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 100;
    color: #fff
}

.FormInput___2iq-X .FormInput___3ZNXP {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: .01rem solid #ececec;
    padding-bottom: .1rem
}

.FormInput___2iq-X .FormInput___3ZNXP div[data-role=xlib-input] {
    width: 100%;
    caret-color: #ff5d3d;
    height: .7rem;
    line-height: .7rem;
    border: none
}

.FormInput___2iq-X .FormInput___3ZNXP div[data-role=xlib-input] input {
    font-size: .32rem
}

.FormInput___2iq-X p.FormInput___1bRaT {
    color: #ff5d3d;
    font-size: .24rem;
    padding: .05rem 0 0 .5rem;
    position: absolute;
    line-height: .24rem
}

.FormInput___2iq-X .FormInput___26KuM {
    visibility: visible
}

.FormInput___2iq-X .FormInput___1HEi7 {
    visibility: hidden
}

.Agreement___1BAor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.Agreement___1BAor .Agreement___1-vyz {
    color: #ccc;
    font-size: .24rem;
    margin: .03rem .1rem 0 0
}

.Agreement___1BAor span {
    color: #919191
}

.Agreement___1BAor a {
    color: #77a2ec
}

.Identification___1Df15 {
    background-color: #fff;
    padding: .3rem .64rem .6rem;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0
}

.Identification___1Df15 h1 {
    color: #000;
    font-size: .48rem;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    position: relative;
    margin-bottom: .64rem
}

.Identification___1Df15 h1 svg {
    font-size: .3rem;
    color: #999;
    position: absolute;
    right: -.1rem;
    bottom: .1rem
}

.Identification___1Df15 .Identification___1c90A {
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: .36rem;
    margin: .8rem 0 2.8rem
}

.Identification___1Df15 .Identification___2CK82,
.Identification___1Df15 .Identification___PoXeW {
    margin-bottom: .34rem
}

.login___2WuLw {
    background-color: #fff;
    padding: .3rem .64rem .6rem;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0
}

.login___2WuLw h1 {
    color: #000;
    font-size: .48rem;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    position: relative
}

.login___2WuLw h1 svg {
    font-size: .3rem;
    color: #999;
    position: absolute;
    right: -.1rem;
    bottom: .1rem
}

.login___2WuLw h3 {
    font-family: PingFangSC-Regular;
    font-size: .26rem;
    color: #999;
    letter-spacing: 0;
    font-weight: 400;
    margin-bottom: .64rem
}

.login___2WuLw .login____UjpR {
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: .36rem;
    margin: .8rem 0 2.8rem
}

.login___2WuLw .login___3-KJT {
    margin: 0 auto
}

.login___2WuLw .login___2TIQX,
.login___2WuLw .login___2VXny,
.login___2WuLw .login___vJuSl {
    margin-bottom: .34rem
}

.login___2WuLw .login___2VXny {
    position: relative
}

.login___2WuLw .login___2VXny .login___ewOLL {
    position: absolute;
    right: 0;
    top: .1rem;
    font-size: .28rem;
    color: #999;
    padding: 0 0 0 .25rem;
    border-left: 1px solid #d2d2d2
}

.login___2WuLw .login___2VXny .login___3PsOY {
    color: #ffa082
}

.login___2WuLw .login___2VXny .login___SpBMP {
    color: #ff5723
}

.login___2WuLw div[data-role=form-input]>div {
    border-bottom: 1px solid #ececec
}

.page___2aPQC {
    height: 100%;
    position: relative;
    overflow: scroll
}

.page___2aPQC .page___3yBhB {
    height: auto;
    min-height: 100%;
    position: relative;
    padding-bottom: 1rem
}

.page___1TpeS .page___3yBhB {
    padding-bottom: 0
}

.page___2J3tC .page___3yBhB {
    min-height: auto
}

.page___2G6jE {
    padding-bottom: 1rem;
    overflow: hidden
}

.page___2G6jE .page___3yBhB {
    height: 100%;
    overflow: scroll;
    padding-bottom: 0
}

.page___203In {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    font-size: .28rem;
    text-align: center;
    background-color: #fff;
    border-top: 1px solid #d9d9d9
}

.page___203In a {
    color: #777;
    margin: 0 .6rem
}

.page___203In a.page___1k9fe {
    color: #0172d2
}

.page___3MOXX {
    position: fixed;
    margin-top: -1rem
}

.Location___2D5Vn {
    font-size: .32rem;
    border: none;
    padding: 0 !important;
    height: .9rem;
    line-height: .9rem
}

.Location___2D5Vn .Location___1NycP {
    color: #dcdcdc;
    padding-left: .2rem
}

.Location___2D5Vn .Location___3jncK {
    color: #333;
    padding-left: .2rem
}

.Location___2D5Vn .Location___M22Do {
    float: right;
    color: #c7c7cc
}

.Location___2D5Vn .Location___pTE1I {
    display: inline !important;
    position: relative;
    top: .36rem;
    left: 0;
    color: red;
    font-size: .22rem
}

.Location___1E9D4 {
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: #fff;
    height: 4.9rem;
    padding-bottom: .1rem
}

.Location___1E9D4 .Location___3ifxG {
    padding: 0 .3rem;
    font-size: .24rem;
    border-bottom: 1px solid hsla(0, 0%, 74%, .5)
}

.Location___1E9D4 .Location___3ifxG a {
    display: inline-block;
    line-height: .4rem;
    border: 1px solid #b8c0c9;
    border-radius: .04rem;
    color: #696969;
    padding: .06rem .26rem;
    margin: .24rem 0
}

.Location___1E9D4 .Location___3ifxG a:last-child {
    float: right;
    border: none;
    color: #eee;
    background: #ff5d3d
}

.Location___1E9D4 li {
    text-align: center;
    padding: .2rem 0;
    line-height: .4rem;
    border-bottom: 1px solid #ccc;
    white-space: nowrap
}

.Location___1E9D4 .Location___28sZd {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.Location___1E9D4 .Location___11Gwx {
    display: inline-block;
    width: 45%;
    font-size: .32rem;
    color: #333;
    list-style: none;
    margin: 0;
    height: 3.32rem;
    overflow-y: scroll;
    overflow-x: hidden
}

.Location___1E9D4 .Location___11Gwx::-webkit-scrollbar {
    width: 0
}

.DateSelect___3zoa- {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    -webkit-flex: auto;
    font-size: .28rem;
    border: none;
    padding: 0 !important;
    height: .9rem;
    line-height: .9rem
}

.DateSelect___3zoa- .DateSelect___1vL_H {
    color: #dcdcdc;
    padding-left: .2rem
}

.DateSelect___3zoa- .DateSelect___h9-L7 {
    color: #333;
    padding-left: .2rem
}

.DateSelect___3zoa- .DateSelect___WXmQT {
    float: right;
    color: #c7c7cc
}

.DateSelect___3zoa- .DateSelect___3CsnU {
    display: inline !important;
    position: relative;
    top: .36rem;
    left: 0;
    color: red;
    font-size: .22rem
}

.DateSelect___24-gu {
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: #fff;
    height: 4.9rem;
    padding-bottom: .1rem
}

.DateSelect___24-gu .DateSelect___1hMER {
    padding: 0 .3rem;
    font-size: .24rem;
    border-bottom: 1px solid hsla(0, 0%, 74%, .5)
}

.DateSelect___24-gu .DateSelect___1hMER a {
    display: inline-block;
    line-height: .4rem;
    border: 1px solid #b8c0c9;
    border-radius: .04rem;
    color: #696969;
    padding: .06rem .26rem;
    margin: .24rem 0
}

.DateSelect___24-gu .DateSelect___1hMER a:last-child {
    float: right;
    border: none;
    color: #eee;
    background: #ff5d3d
}

.DateSelect___24-gu li {
    text-align: center;
    padding: .2rem 0;
    line-height: .4rem;
    border-bottom: 1px solid #ccc;
    white-space: nowrap
}

.DateSelect___24-gu .DateSelect___3kXaI {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.DateSelect___24-gu .DateSelect___p-z7l {
    display: inline-block;
    width: 45%;
    font-size: .32rem;
    color: #333;
    list-style: none;
    margin: 0;
    height: 3.32rem;
    overflow-y: scroll;
    overflow-x: hidden
}

.DateSelect___24-gu .DateSelect___p-z7l::-webkit-scrollbar {
    width: 0
}

.SmartInput___38lsU {
    position: relative
}

.SmartInput___38lsU div[data-role=xlib-input] {
    border-bottom: none;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.SmartInput___38lsU div[data-role=xlib-input] input {
    font-size: .32rem;
    color: #333;
    text-overflow: ellipsis;
    white-space: nowrap
}

.SmartInput___1DJ-u {
    position: absolute;
    color: #eee;
    background-color: #fff;
    top: -.7rem;
    left: 3.14rem;
    font-size: .2rem;
    width: 0;
    height: 0
}

.SmartInput___3YLl- {
    position: absolute;
    top: 1.4rem;
    left: 2% !important;
    width: 96%;
    background-color: #fff;
    z-index: 99;
    border: 1px solid #eee;
    border-radius: .2rem;
    padding: .2rem .4rem;
    -webkit-box-shadow: 0 .16rem .16rem #dcdcdc;
    box-shadow: 0 .16rem .16rem #dcdcdc
}

.SmartInput___3YLl- .SmartInput___Feq-B li {
    padding: .2rem;
    font-size: .28rem;
    border-bottom: 1px solid #eee;
    color: #8f8fe4
}

.SmartInput___3YLl- .SmartInput___Feq-B li:last-child {
    border: 0
}

.SmartInput___3BRDn span {
    display: block;
    width: 0;
    height: 0;
    border-left: .18rem solid transparent;
    border-right: .18rem solid transparent;
    border-bottom: .18rem solid #fff;
    position: absolute;
    left: -.18rem;
    top: .02rem
}

.SmartInput___3BRDn {
    width: 0;
    height: 0;
    border-left: .2rem solid transparent;
    border-right: .2rem solid transparent;
    border-bottom: .2rem solid #eee;
    position: relative;
    margin: .5rem auto
}

.ButtonSelect___3TGy2 {
    display: block;
    width: 6.84rem;
    margin: auto
}

.ButtonSelect___3TGy2:after,
.ButtonSelect___3TGy2:before {
    content: " ";
    display: table
}

.ButtonSelect___3TGy2:after {
    clear: both
}

.ButtonSelect___pnpyA {
    float: left;
    margin: 0 .18rem
}

.ButtonSelect___pnpyA input[type=radio] {
    display: none
}

.ButtonSelect___pnpyA label {
    -webkit-box-size: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    width: 1.2rem;
    height: .6rem;
    line-height: .6rem;
    font-size: .28rem;
    color: #666;
    border: .01rem solid #d9d9d9;
    border-radius: .04rem
}

.ButtonSelect___pnpyA input[type=radio]:checked+label {
    background: rgba(255, 94, 29, .1);
    border: .01rem solid #ff5e1d;
    color: #ff5e1d
}

.ButtonSelect___1pXU8 {
    color: red
}

.ImageUploader___2UYUY {
    position: relative;
    overflow: hidden;
    border: .01rem dashed #d3d3d3
}

.ImageUploader___7wppU:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: hsla(0, 0%, 100%, .7)
}

.ImageUploader___7wppU:after {
    content: "\7167\7247\5904\7406\4E2D\FF0C\8BF7\7A0D\540E...";
    color: #333;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%)
}

.ImageUploader___2LlGR {
    height: auto;
    max-width: 100%
}

.ImageUploader___2za-e {
    position: absolute;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.MenuBar___1WlGy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #fff;
    padding: .25rem .28rem .25rem .32rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.MenuBar___1WlGy .MenuBar___3gppA {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-left: .29rem;
    font-size: .3rem;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.MenuBar___1WlGy .MenuBar___v4Xvw {
    padding-right: .25rem;
    font-size: .3rem
}

.MenuBar___1EFCb {
    border-bottom: 1px solid #eaeaea
}

.IdCardUpload___1Zen_ .IdCardUpload___Z56lJ {
    background-color: #fff;
    padding: .42rem .3rem .38rem
}

.IdCardUpload___1Zen_ .IdCardUpload___Z56lJ .IdCardUpload___223Ao {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.IdCardUpload___1Zen_ .IdCardUpload___Z56lJ .IdCardUpload___223Ao .IdCardUpload___SqqDo {
    position: relative;
    width: 3.3rem;
    height: 2rem;
    border-radius: .12rem;
    border: none
}

.IdCardUpload___1Zen_ .IdCardUpload___Z56lJ .IdCardUpload___223Ao .IdCardUpload___SqqDo img {
    display: inline-block;
    width: 100%
}

.IdCardUpload___1Zen_ .IdCardUpload___Z56lJ .IdCardUpload___223Ao .IdCardUpload___SqqDo .IdCardUpload___2TnHF {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .56);
    border-radius: .12rem;
    color: #fff;
    font-size: .24rem
}

.IdCardUpload___1Zen_ .IdCardUpload___Z56lJ .IdCardUpload___223Ao .IdCardUpload___SqqDo .IdCardUpload___2TnHF .IdCardUpload___3-ngO {
    position: absolute;
    right: .05rem;
    top: .05rem;
    width: .75rem;
    height: .75rem;
    background: url(/aif-jdd/imgs/id_card_auth_icon.png);
    background-size: cover
}

.IdCardUpload___1Zen_ .IdCardUpload___Z56lJ .IdCardUpload___4lax7 {
    position: relative;
    margin-top: .38rem;
    padding: .18rem .28rem .22rem;
    background: #f8f8f8;
    border-radius: .06rem;
    color: #999
}

.IdCardUpload___1Zen_ .IdCardUpload___Z56lJ .IdCardUpload___4lax7 .IdCardUpload___2CWL4 {
    width: .33rem;
    height: .33rem;
    position: absolute;
    right: .26rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.IdCardUpload___1Zen_ .IdCardUpload___Z56lJ .IdCardUpload___4lax7 .IdCardUpload___262tN {
    line-height: .4rem;
    font-size: .26rem
}

.IdCardUpload___1Zen_ .IdCardUpload___2uaBr {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.IdCardUpload___1Zen_ .IdCardUpload___2uaBr .IdCardUpload___2MGxE {
    width: 6rem;
    padding: .5rem;
    border-radius: .08rem;
    background-color: #fff
}

.IdCardUpload___1Zen_ .IdCardUpload___2uaBr .IdCardUpload___2MGxE .IdCardUpload___3LfVK {
    padding-bottom: .46rem;
    font-size: .42rem;
    color: #333
}

.IdCardUpload___1Zen_ .IdCardUpload___2uaBr .IdCardUpload___2MGxE .IdCardUpload___2yD8B {
    border-bottom: .02rem solid #ccc
}

.IdCardUpload___1Zen_ .IdCardUpload___2uaBr .IdCardUpload___2MGxE .IdCardUpload___2yD8B input[type=text] {
    display: block;
    width: 100%;
    height: 1rem;
    border: 0;
    font-size: .3rem;
    color: #999
}

.IdCardUpload___1Zen_ .IdCardUpload___2uaBr .IdCardUpload___2MGxE .IdCardUpload___31sHD {
    padding-top: .1rem;
    font-size: .26rem;
    color: #f5a623
}

.IdCardUpload___1Zen_ .IdCardUpload___2uaBr .IdCardUpload___2MGxE .IdCardUpload___1LRns {
    padding-top: .68rem
}

.IdCardUpload___1Zen_ .IdCardUpload___2uaBr .IdCardUpload___2MGxE .IdCardUpload___1qo7w img {
    width: 100%;
    display: inline-block
}

.IdCardUpload___1Zen_ .IdCardUpload___2uaBr .IdCardUpload___OCxeV {
    width: 100%;
    height: .9rem;
    line-height: .9rem;
    font-size: .32rem;
    color: #fff;
    text-align: center;
    background: #ff5a10;
    -webkit-box-shadow: 0 .07rem .14rem 0 rgba(255, 90, 16, .2);
    box-shadow: 0 .07rem .14rem 0 rgba(255, 90, 16, .2);
    border-radius: .06rem;
    border: none
}

.IdCardUpload___1Zen_ .IdCardUpload___1hJUh {
    position: absolute;
    left: 0;
    top: 0
}

.buttonList___J2nBm {
    margin-top: .7rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.buttonList___J2nBm .buttonList___1ikEH {
    position: relative;
    width: 1.6rem;
    height: .7rem;
    line-height: .7rem;
    font-size: .32rem;
    color: #999;
    text-align: center;
    border-radius: .5rem
}

.buttonList___J2nBm .buttonList___1ikEH:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border: .02rem solid #e2e2e2;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 200%;
    height: 200%;
    border-radius: 1rem;
    -webkit-transform: scale(.5);
    transform: scale(.5);
    -webkit-transform-origin: left top;
    transform-origin: left top
}

.buttonList___J2nBm .buttonList___2YK8X {
    color: #ff5a10
}

.buttonList___J2nBm .buttonList___2YK8X:after {
    border-color: #ff5a10
}

.tab___3M_Tj ::-webkit-input-placeholder {
    color: #d9d9d9;
    font-size: .36rem
}

.tab___3M_Tj :-moz-placeholder,
.tab___3M_Tj ::-moz-placeholder {
    color: #d9d9d9;
    font-size: .36rem
}

.tab___3M_Tj :-ms-input-placeholder {
    color: #d9d9d9;
    font-size: .36rem
}

.tab___3M_Tj .tab___2UeA3 {
    position: absolute;
    width: .2rem;
    height: .2rem;
    bottom: -.14rem;
    background: #292b3b;
    border-radius: .1rem
}

.tab___3M_Tj .tab___28gob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: center
}

.tab___3M_Tj .tab___28gob .tab___2r6nW {
    width: 2.3rem;
    height: 1rem;
    line-height: 1rem;
    background: #3b3d52;
    opacity: .6;
    font-size: .28rem;
    color: #fff;
    border-top-left-radius: .05rem;
    border-top-right-radius: .05rem
}

.tab___3M_Tj .tab___28gob .tab___23aAY {
    font-size: .3rem;
    background: #fff;
    color: #ff5a10;
    opacity: 1
}

.tab___3M_Tj .tab___2KMVq {
    position: relative;
    height: 3.64rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .6rem .6rem 0 .57rem;
    background: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: .1rem;
    margin-bottom: .1rem
}

.tab___3M_Tj .tab___2KMVq.tab___1lkZu {
    border-top-left-radius: 0
}

.tab___3M_Tj .tab___2KMVq.tab___2_EBI {
    border-top-right-radius: 0
}

.tab___3M_Tj .tab___2KMVq .tab___2e5oI {
    left: .47rem
}

.tab___3M_Tj .tab___2KMVq .tab___2MmTN {
    right: .47rem
}

.tab___3M_Tj .tab___2KMVq .tab___2YAY3 .tab___1gfRe {
    font-size: .26rem;
    color: #999
}

.tab___3M_Tj .tab___2KMVq .tab___2YAY3 .tab___3c4js {
    display: block;
    font-size: .7rem;
    color: #333;
    height: 1rem;
    line-height: 1rem;
    border-bottom: .01rem solid #f5f5f5
}

.tab___3M_Tj .tab___2KMVq .tab___2YAY3 .tab___2HnKc {
    position: relative;
    width: 1.9rem;
    height: .7rem;
    line-height: .7rem;
    font-size: .32rem;
    margin-top: .3rem;
    color: #ff5a10;
    text-align: center;
    border-radius: .5rem
}

.tab___3M_Tj .tab___2KMVq .tab___2YAY3 .tab___2HnKc:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border: .02rem solid #ff5a10;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 200%;
    height: 200%;
    border-radius: 1rem;
    -webkit-transform: scale(.5);
    transform: scale(.5);
    -webkit-transform-origin: left top;
    transform-origin: left top
}

.tab___3M_Tj .tab___2KMVq .tab___2MO9m {
    position: relative;
    font-size: .3rem;
    text-align: center
}

.tab___3M_Tj .tab___2KMVq .tab___2MO9m .tab___3aAoW {
    position: absolute;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: .52rem;
    font-weight: 700;
    color: #ff5a10
}

.tab___3M_Tj .tab___2KMVq .tab___2MO9m .tab___1_G7h {
    font-size: .26rem;
    color: #999;
    position: absolute;
    left: 50%;
    top: 55%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.tab___3M_Tj .tab___B8tjp {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .3);
    z-index: 2
}

.tab___3M_Tj .tab___lTNOi {
    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: .4rem .3rem .6rem;
    background: #fff;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-transform: translateY(1000%);
    transform: translateY(1000%)
}

.tab___3M_Tj .tab___lTNOi.tab___4jBI1 {
    -webkit-transform: none;
    transform: none
}

.tab___3M_Tj .tab___lTNOi .tab___3eHkD {
    margin-top: .7rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.tab___3M_Tj .tab___lTNOi .tab___3eHkD .tab___3mUBb {
    width: 1.6rem;
    height: .7rem;
    line-height: .7rem;
    font-size: .32rem;
    color: #999;
    text-align: center;
    border: .02rem solid #e2e2e2;
    border-radius: .5rem
}

.tab___3M_Tj .tab___lTNOi .tab___3eHkD .tab___23aAY {
    border-color: #ff5a10;
    color: #ff5a10
}

.tab___3M_Tj .tab___lTNOi .tab___3OO1j {
    position: absolute;
    font-size: .26rem;
    top: 1.45rem;
    left: .3rem;
    padding-left: .32rem;
    color: #f5a623;
    background: url(/aif-jdd/imgs/warn.svg) no-repeat 0;
    background-size: auto 75%
}

.tab___3M_Tj .tab___lTNOi .tab___2N3eS {
    font-size: .7rem;
    width: 100%;
    height: .9rem;
    line-height: .9rem;
    border: none;
    outline: none
}

.tab___3M_Tj .tab___lTNOi .tab___2E1Mc {
    height: .9rem;
    line-height: .9rem;
    text-align: center;
    background: #ff5a10;
    font-size: .32rem;
    color: #fff;
    margin: .6rem auto 0
}

.tab___3M_Tj .tab___2UwUg {
    display: block
}

.Authorization___1aRE_ {
    width: 6.3rem;
    margin: 0 auto
}

.Authorization___1aRE_ .Authorization___3eftN {
    width: 100%;
    position: relative;
    margin: 0 auto .3rem;
    border-radius: .1rem
}

.Authorization___1aRE_ .Authorization___3JQ7p {
    -webkit-box-shadow: 0 0 .2rem .1rem hsla(0, 0%, 92%, .79);
    box-shadow: 0 0 .2rem .1rem hsla(0, 0%, 92%, .79)
}

.Authorization___1aRE_ .Authorization___6K2xc {
    -webkit-box-shadow: 0 0 .2rem .1rem hsla(0, 0%, 92%, 0);
    box-shadow: 0 0 .2rem .1rem hsla(0, 0%, 92%, 0);
    margin-bottom: 0
}

.Authorization___1aRE_ .Authorization___W1y5i {
    position: relative;
    padding: .3rem .6rem .3rem .32rem;
    overflow: hidden
}

.Authorization___1aRE_ .Authorization___W1y5i:after {
    content: "";
    position: absolute;
    right: .3rem;
    top: 50%;
    width: .14rem;
    height: .28rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background-size: contain
}

.Authorization___1aRE_ .Authorization___W1y5i img {
    width: .7rem;
    height: .7rem;
    float: left
}

.Authorization___1aRE_ .Authorization___W1y5i .Authorization___rYeB5 {
    float: left;
    height: .7rem;
    line-height: .7rem;
    font-size: .32rem;
    color: #333;
    margin-left: .3rem
}

.Authorization___1aRE_ .Authorization___W1y5i .Authorization___1_jlg {
    float: right;
    height: .7rem;
    line-height: .7rem;
    font-size: .3rem;
    color: #999
}

.Authorization___1aRE_ .Authorization___W1y5i .Authorization___1dP-Q {
    color: #ff5a10
}

.Authorization___1aRE_ .Authorization___1NerG {
    position: relative;
    height: .7rem;
    line-height: .7rem;
    text-align: center;
    font-size: .24rem;
    color: #4a90e2
}

.Authorization___1aRE_ .Authorization___1NerG:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: #eaeaea;
    width: 100%;
    height: .02rem;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0
}

.Authorization___1aRE_ .Authorization___1NerG .Authorization___33E59 {
    width: .2rem;
    height: .2rem;
    display: inline-block;
    vertical-align: baseline;
    margin-left: .05rem;
    background-size: 100%
}

.Authorization___1aRE_ .Authorization___1cmht {
    position: absolute;
    bottom: 0;
    left: .3rem;
    width: 120%;
    height: .04rem
}

.Authorization___1aRE_ .Authorization___1cmht:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: #eaeaea;
    width: 100%;
    height: .02rem;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0
}

.Installment___2xwWU .Installment___1dp63 {
    width: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.Installment___2xwWU .Installment___1dp63 div[data-role=xlib-input] {
    height: auto;
    line-height: auto;
    border-bottom: .01rem solid #fff;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

.Installment___2xwWU .Installment___1dp63 div[data-role=xlib-input] input {
    font-size: .32rem;
    color: #333;
    text-align: right
}

.Installment___2xwWU .Installment___3aUCw {
    height: 1.3rem;
    padding-top: .05rem;
    color: #ff5d3d;
    font-size: .24rem
}

.Installment___2xwWU .Installment___1w5hE .Installment___2lJTr {
    background-color: #fff;
    border-bottom: .01rem solid #e6e6e6
}

.Installment___2xwWU .Installment___1w5hE .Installment___2lJTr .Installment____T8JD label {
    width: 2.35rem;
    color: #333;
    font-size: .32rem;
    margin-right: 0
}

.Installment___2xwWU .Installment___1w5hE .Installment___2lJTr .Installment____T8JD .Installment___2Zsy1 {
    position: relative;
    border-bottom: .01rem solid #e6e6e6
}

.Installment___2xwWU .Installment___1w5hE .Installment___2lJTr .Installment____T8JD .Installment___2Zsy1 .Installment___1dp63 {
    width: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: right;
    padding-right: 1.26rem;
    line-height: 3rem;
}

.Installment___2xwWU .Installment___1w5hE .Installment___2lJTr .Installment____T8JD .Installment___2Zsy1 .Installment___1dp63 div[data-role=xlib-input] {
    height: auto;
    line-height: auto;
    border-bottom: none
}

.Installment___2xwWU .Installment___1w5hE .Installment___2lJTr .Installment____T8JD .Installment___2Zsy1 .Installment___1dp63 div[data-role=xlib-input] input {
    font-size: .32rem;
    color: #333
}

.Installment___2xwWU .Installment___1w5hE .Installment___2lJTr .Installment____T8JD .Installment___2Zsy1 .Installment___1dp63 .Installment___1G9Ys {
    height: 100%
}

.Installment___2xwWU .Installment___1w5hE .Installment___2lJTr .Installment____T8JD .Installment___2Zsy1 .Installment___1dp63 .Installment___1G9Ys>div {
    height: auto;
    line-height: .95rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.Installment___2xwWU .Installment___1w5hE .Installment___2lJTr .Installment____T8JD .Installment___2Zsy1 .Installment___1dp63 .Installment___1s_nq {
    line-height: .95rem
}

.Installment___2xwWU .Installment___1w5hE .Installment___2lJTr .Installment____T8JD .Installment___2Zsy1 .Installment___1dp63 .Installment___1s_nq .Installment___3_5pF {
    font-size: .35rem
}

.Installment___2xwWU .Installment___1w5hE .Installment___2lJTr .Installment____T8JD .Installment___2Zsy1 .Installment___2B8Vf {
    position: absolute;
    top: .22rem;
    right: .32rem;
    -webkit-transform: rotateY(-50%);
    transform: rotateY(-50%)
}

.Installment___2xwWU .Installment___1w5hE .Installment___2lJTr .Installment____T8JD .Installment___2Zsy1 .Installment___3sVl8 {
    padding-right: .3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.Installment___2xwWU .Installment___1w5hE .Installment___2lJTr .Installment____T8JD .Installment___2wTAO,
.Installment___2xwWU .Installment___1w5hE .Installment___2lJTr .Installment____T8JD:last-child .Installment___2Zsy1 {
    border-bottom: none
}

.Installment___2xwWU div.Installment___20BUa {
    font-size: .8rem;
    color: #999;
    text-align: center;
    margin-top: 1.35rem
}

.Installment___2xwWU div.Installment___20BUa span {
    color: #ff5d3d
}

.Installment___2xwWU div.Installment___20BUa .Installment___bHd-w img {
    width: .28rem;
    height: .28rem;
    margin: .06rem 0 0 .09rem
}

.Installment___2xwWU div[data-role=form-input] {
    padding-bottom: 0
}

.Installment___2xwWU div[data-role=form-input] p {
    padding-left: .2rem
}

.Installment___2xwWU div[data-role=form-input] div[data-role=xlib-input] {
    height: .7rem;
    line-height: .7rem
}

.Installment___2xwWU div[data-role=form-input] div[data-role=xlib-input] input {
    font-size: .66rem
}

.Installment___2xwWU div[data-role=form-input] div[data-role=xlib-input] input::-webkit-input-placeholder {
    color: #d9d9d9;
    font-size: .36rem;
    -webkit-transform: translateY(.05rem);
    transform: translateY(.05rem)
}

.InstallmentModal___2brdZ {
    background-color: #fff;
    width: 5.2rem;
    height: 5.93rem;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -2.97rem;
    margin-left: -2.6rem
}

.InstallmentModal___2brdZ .InstallmentModal___2CfZb {
    padding: .53rem .38rem 0
}

.InstallmentModal___2brdZ p.InstallmentModal___Gy_zP {
    font-size: .28rem;
    color: #333;
    margin-bottom: .48rem
}

.InstallmentModal___2brdZ p.InstallmentModal___Gy_zP span {
    color: #ff5723
}

.InstallmentModal___2brdZ .InstallmentModal___LVAp3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: .41rem
}

.InstallmentModal___2brdZ .InstallmentModal___LVAp3 i {
    display: block;
    width: .12rem;
    height: .12rem;
    background-color: #ff5723;
    border-radius: .12rem;
    margin: .1rem .22rem 0 0
}

.InstallmentModal___2brdZ .InstallmentModal___LVAp3 p {
    font-size: .28rem;
    color: #999
}

.InstallmentModal___2brdZ .InstallmentModal___2fXog {
    color: #ff5723;
    font-size: .3rem;
    padding: .28rem 0;
    text-align: center;
    border-top: 1px solid #e2e2e2;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0
}

.LoanInfo___37W_0 {
    text-align: center
}

.LoanInfo___37W_0 img.LoanInfo___5JOkN {
    width: 2.6rem;
    height: 1.94rem;
    margin-bottom: .24rem
}

.LoanInfo___37W_0 .LoanInfo___I9R10 {
    font-size: .32rem;
    color: #666;
    min-height: .62rem
}

.LoanInfo___37W_0 .LoanInfo___15OAr {
    font-size: .28rem;
    color: #999;
    margin: .2rem 0 .73rem
}

.LoanInfo___37W_0 .LoanInfo___KUBni {
    position: relative
}

.LoanInfo___37W_0 .LoanInfo___KUBni .LoanInfo___n2HoZ {
    background: url(/aif-jdd/imgs/addamount.png) no-repeat;
    width: 1.2rem;
    height: .49rem;
    background-size: contain;
    position: absolute;
    right: 1.04rem;
    top: -.49rem;
    text-align: center;
    line-height: .37rem;
    color: #fff
}

.LoanInfo___37W_0 .LoanInfo___1e5xZ {
    margin-bottom: .43rem
}

.AmountCountDown___14Bq3 p.AmountCountDown___1FVH- {
    font-size: .32rem;
    color: #666;
    margin-bottom: .65rem;
    text-align: center
}

.AmountCountDown___14Bq3 p.AmountCountDown___1FVH- span {
    color: #ff5a10
}

.AmountCountDown___14Bq3 .AmountCountDown___1PuAT {
    background: #f2f2f2;
    border-radius: .195rem;
    width: 4.51rem;
    height: .39rem;
    position: relative;
    margin: 0 auto .12rem
}

.AmountCountDown___14Bq3 .AmountCountDown___1PuAT .AmountCountDown___2aysp {
    width: .6em
}

.AmountCountDown___14Bq3 .AmountCountDown___1PuAT .AmountCountDown___3Vld8 {
    width: 1.43rem;
    height: .39rem;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(19%, #ff683d), color-stop(89%, #ffa170));
    background-image: linear-gradient(90deg, #ff683d 19%, #ffa170 89%);
    border-radius: .195rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-right: .04rem
}

.AmountCountDown___14Bq3 .AmountCountDown___1PuAT .AmountCountDown___3Vld8 span {
    color: #ff9c6b;
    background-color: #fff;
    width: .32rem;
    height: .32rem;
    border-radius: .32rem;
    line-height: .32rem;
    text-align: center
}

.AmountCountDown___14Bq3 .AmountCountDown___1PuAT img {
    width: .81rem;
    height: .71rem;
    position: absolute;
    right: -.23rem;
    top: -.23rem
}

.AmountCountDown___14Bq3 .AmountCountDown___3YmoJ {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 4.75rem;
    margin: 0 auto;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.AmountCountDown___14Bq3 .AmountCountDown___3YmoJ .AmountCountDown___iDKGy p,
.AmountCountDown___14Bq3 .AmountCountDown___3YmoJ .AmountCountDown___wD3E_ p {
    color: #999;
    font-size: .2rem
}

.AmountCountDown___14Bq3 .AmountCountDown___3YmoJ .AmountCountDown___iDKGy p.AmountCountDown___pONlM,
.AmountCountDown___14Bq3 .AmountCountDown___3YmoJ .AmountCountDown___wD3E_ p.AmountCountDown___pONlM {
    font-size: .26rem;
    text-align: center
}

.Broadcasts___sIH1O {
    overflow: hidden;
    position: relative
}

.Broadcasts___sIH1O .Broadcasts___f8p0b {
    width: 100%;
    position: absolute;
    text-align: center;
    overflow: hidden
}

.Broadcasts___sIH1O .Broadcasts___f8p0b img {
    width: .25rem;
    height: .25rem;
    margin-right: .1rem
}

.Broadcasts___sIH1O .Broadcasts___f8p0b .Broadcasts___kQ-FH {
    font-size: .22rem;
    color: #ff5d3d;
    letter-spacing: .018rem
}

.LinkBox___3qkyh {
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .35rem .31rem .35rem 0;
    border-bottom: 1px solid #e6e6e6
}

.LinkBox___3qkyh span {
    font-size: .3rem;
    color: #333
}

.WeChatModal___i7Ce4 {
    position: absolute;
    width: 5.3rem;
    height: 6.4rem;
    top: 50%;
    left: 50%;
    margin: -3.2rem 0 0 -2.6rem
}

.WeChatModal___1YgFy {
    display: block;
    width: 5.21rem;
    height: 2.49rem
}

.WeChatModal___1zcq1 {
    position: relative;
    width: 5.21rem;
    height: 2.49rem;
    text-align: center
}

.WeChatModal___1VoB4 {
    margin-top: -2.1rem;
    margin-bottom: .17rem;
    font-size: .48rem;
    color: #fff;
    letter-spacing: -.0185rem;
    padding: 0
}

.WeChatModal___quV0H {
    font-size: .24rem;
    color: #fff;
    letter-spacing: 0
}

.WeChatModal___3xMLh {
    font-size: .24rem;
    letter-spacing: 0;
    color: #fffb42
}

.WeChatModal___1uvdU {
    position: absolute;
    background: transparent;
    color: #fff;
    text-align: center;
    height: .5rem;
    width: .5rem;
    padding: 1px;
    font-size: .5rem;
    right: 0;
    top: 0
}

.WeChatModal___1uvdU:before {
    content: "\D7"
}

.WeChatModal___30x87 {
    width: 5.21rem;
    height: 3.9rem;
    background: #fff;
    text-align: center
}

.WeChatModal___L2p77 {
    width: 2.38rem;
    height: 2.38rem;
    margin-top: .3rem
}

.WeChatModal___2W8mw {
    margin-top: .2rem;
    text-align: center
}

.WeChatModal___3KJiB {
    font-size: .26rem;
    color: #999;
    letter-spacing: 0
}

.WeChatModal___2W0-5 {
    font-size: .26rem;
    color: #d47c69;
    text-align: center
}